$bodyfont: normal 15px/20px Georgia, "Times New Roman", Times, serif;
$bordercolor: #659a01;
$contentcolor: #666701;
$textcolor:#f9d014;
$textstyle: normal;
$imageborder: 1px #fff solid;
$imagepadding:10px;
$briefwidth:96.3%;
$briefheight:30px;
$briefcolor:#677d01;
$briefmargin:20px;
$maintextcolor:#fff;
$linkcolor:#eaca15;
$tablecolor:#677d01;
$tablewidth:99%;
$thcolor:#94a34e;
$tbcaption:0;
$thborder:0;
$borderbottomcolor:1px #fff solid;