
$bodyfont: normal 12px/18px Arial, Helvetica, sans-serif;
$bordercolor: #ddbc9b;
$contentcolor: #fff;
$textcolor:#8a3b03;
$textstyle: italic;
$imageborder: 2px #8a3b03 solid;
$imagepadding:2px;
$briefwidth:370px;
$briefheight:60px;
$briefmargin:0;
$briefcolor:#fadcba;
$maintextcolor:#000;
$linkcolor:#00F;
$tablecolor:#fff;
$thcolor:#e0e0e0;
$tablewidth:85%;
$tbcaption:10px;
$thborder:1px #fff solid;
$borderbottomcolor:1px #e0e0e0 solid;